{% extends "base.html.jinja" %}
{% block title %}
    Service Detail
{% endblock title %}
{% block head %}
    {{ super() }}
    <script>
        window.onload = function() {
            console.log(document.getElementById("service-status"));
            document.addEventListener("DOMContentLoaded", servicePingStreamListener({{ service.id }},document.getElementById("service-status")));
        }
    </script>
{% endblock head %}
{% block body %}
    <ul>
        <li>
            <strong>Name:</strong> {{ service.name }}
        </li>
        <li>
            <strong>URI:</strong> {{ service.uri }}
        </li>
        <li>
            <strong>Status:</strong> <span id="service-status">Loading...</span>
        </li>
    </ul>
{% endblock body %}
