{% extends "base.html.jinja" %}
{% block head %}
    {{ super() }}
    <script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
{% endblock head %}
{% block title %}
    Service {{ subscription.name }}
{% endblock title %}
{% block header %}
    <div class="col">
        <h1 class="mb-0">Service {{ subscription.name }}</h1>
    </div>
{% endblock header %}
{% block body %}
    <p>Latest Status: {{ pings.status[-1] }} ({{ pings.status[-1] | httpstatus }})</p>
    <div id="myDiv"></div>
    <script>
        const data = {{ pings|tojson }};

        const graph_data = {
            'x': data.x.map((date) => new Date(date)),
            'y': data.y,
            'type': 'scatter',
        };

        const layout = {
            xaxis: {
                title: {
                    text: "Orario"
                }
            },
            yaxis: {
                title: {
                    text: "Tempo di risposta (s)"
                }
            },
        };

        const config = {responsive: true}

        Plotly.newPlot(
            'myDiv',
            [graph_data],
            layout,
            config,
        );
    </script>
{% endblock body %}
