{% extends "base.html.jinja" %}
{% from "macro.html.jinja" import bootstrap_field, bootstrap_form_submit, bootstrap_field_checkbox %}
{% block title %}
    Login
{% endblock title %}
{% block body %}
    <form method="post" action="{{ url_for('auth.login') }}">
        {{ form.hidden_tag() }}
        {{ bootstrap_field(form.email) }}
        {{ bootstrap_field(form.password) }}
        <br />
        {{ bootstrap_field_checkbox(form.remember_me) }}
        {{ bootstrap_form_submit("Login") }}
    </form>
{% endblock body %}
