{% from "macro.html.jinja" import navbar_element %}
{% macro logged_user_dropdown() %}
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">Welcome, {{ current_user.username }}!</a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="{{ url_for('user.profile') }}">Your Profile</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Your Services</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{{ url_for('user.tokens') }}">Your API Tokens</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item text-danger" href="{{ url_for('user.logout') }}">Logout</a>
                </li>
            </ul>
        </li>
    </ul>
{% endmacro %}
{% macro user_login_buttons() %}
    <div class="btn-group" role="group">
        <a class="btn btn-primary {{ active if request.path == url_for("user.login") else '' }}"
           href="{{ url_for('user.login') }}">Login</a>
        <a class="btn btn-primary {{ 'active' if request.path == url_for("user.register") else '' }}"
           href="{{ url_for('user.register') }}">Register</a>
    </div>
{% endmacro %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home.index') }}">Downtime Panda</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
             id="navbarSupportedContent"
             toggle="collapse"
             data-target=".navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{ navbar_element('Home', 'home.index') }}
            </ul>
            <div class="d-flex">
                {% if current_user.is_authenticated %}
                    {{ logged_user_dropdown() }}
                {% else %}
                    {{ user_login_buttons() }}
                {% endif %}
            </div>
        </div>
    </div>
</nav>
