{% extends "base.html.jinja" %}
{% block title %}
    Your Profile
{% endblock title %}
{% block body %}
    <p>Username: {{ current_user.username }}</p>
    <p>Email: {{ current_user.email }}</p>
{% endblock body %}
