{% extends "base.html.jinja" %}
{% from "macro.html.jinja" import bootstrap_field %}
{% block title %}
    Your Tokens
{% endblock title %}
{% block body %}
    <h1>Your Tokens</h1>
    <a href="{{ url_for('user.generate_token') }}" class="btn btn-primary">Create New Token</a>
    {% if current_user.api_tokens %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Token</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for api_token in current_user.api_tokens %}
                    <tr>
                        <td>{{ api_token.token }}</td>
                        <td>{{ moment(api_token.created_at).format("dddd, MMMM Do YYYY, h:mm:ss A") }}</td>
                        <td>
                            <form action="#" method="post">
                                <button type="submit" class="btn btn-danger btn-sm">Revoke</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have no tokens.</p>
    {% endif %}
{% endblock body %}
