{% extends "base.html.jinja" %}
{% from "macro.html.jinja" import bootstrap_field, bootstrap_form_submit %}
{% block title %}
    Subscribe to a New Service
{% endblock title %}
{% block body %}
    <form method="post" action="{{ url_for('.service_subscribe') }}">
        {{ form.hidden_tag() }}
        {{ bootstrap_field(form.name) }}
        {{ bootstrap_field(form.uri) }}
        {{ bootstrap_form_submit("Subscribe") }}
    </form>
{% endblock body %}
